:javascript
  jQuery(document).ready(function () {
    $('#new_link_section').hide()
  });

  function verify_delete_link( course_id, link_id, resource_link_label ) {
    if (confirm('Are you sure you want to delete ' + (resource_link_label + '?'))) {
      window.location.href = "/admin/course_page?method=delete&course_id=" + (course_id + "")
          + "&link_id=" + link_id
    }
    return false
  }

  function toggle_new_link() {
    $('#new_link_section').toggle()
  }

- @course = request['course']
- @links = request['links']
- @resource_list = request['resource_list']
- @resource_map = request['resource_map']
- @grade_item_list = request['grade_item_list']
- @grade_item_map = request['grade_item_map']

:textile

  h3. LuMoS -- Link Actions

  h4. Welcome #{current_admin_user.first_name} #{current_admin_user.last_name} [ #{current_admin_user.role} ]

  h4. Course #{@course.course_label}

%h5
  %a{:href => "course_actions"} [Return to Courses]

%table
  %tr
    %td
      %h4 Link Label
    %td
    %td
    %td
      %h4 Resource
    %td
      %h4 Grade Item
    %td
      %h4 Grade
    %td
      %h4 Custom parameters
  - @links.each do |link|
    -# students don't see disabled links
    - if link.is_link_visible
      %tr
        %td{:width => "150"}
          - if link.is_enabled
            %a{:href=>"#{link.url}"} #{link.resource_link_label}
          -else
            #{link.resource_link_label}&nbsp;[disabled]
        %td{:width => "50"}
          - if request['is_non_student']
            %a{:href=>"#", :onclick => "return verify_delete_link(\"#{@course.id}\",\"#{link.id}\",\"#{link.resource_link_label}\")"} [delete-link]
          - else
            &nbsp;
        %td{:width => "70"}
          %a{:href=>"/admin/course_page?method=toggle&course_id=#{@course.id}&link_id=#{link.id}&toggle=#{not link.is_enabled}"} [#{link.toggle_label}]
        %td{:width => "100"}
          #{link.resource.name}
        %td{:width => "100"}
          #{link.grade_item_label}
        %td{:width => "60"}
          #{link.grade_result}
        %td
          #{link.link_parameters}

%h5
  %a{:href => "#", :onclick => "return toggle_new_link()"} [New Link]

%dev#new_link_section
  %h4 New Link Section

  %form{:method => "post", :action => "/admin/course_page?method=newtool&course_id=#{@course.id}&"}
    %fieldset
      %ol
        %li
          %label{:for => "msg[resource_link_label]"} Link label
          %input(type="text" name="resource_link_label" value="" maxlength="50")

        %li
          %label{:for => "msg[select_tool]"} Select tool
          %select{:name => "resource_id"}
            - @resource_list.each do |resource_id|
              %option{:value => "#{resource_id}"}
                #{@resource_map[resource_id]}
        %li
          %label{:for => "select_tool"} Custom parameters 
          %textarea{:name => "custom_parameters", :cols => "50"}

        %li
          %label{:for => "msg[grade_item]"} Select gradebook lineitem
          %select{:name => "grade_item_id"}
            - @grade_item_list.each do |grade_item_id|
              %option{:value => "#{grade_item_id}"}
                #{@grade_item_map[grade_item_id]}

        %li
          %label
          %input{:name => "is_name_permission", :type => "checkbox", :checked => true}
            Allow sending of name information

        %li
          %label
          %input{:name => "is_email_permission", :type => "checkbox", :checked => true}
            Allow sending the email address

        %li
          %label
          %input{:name => "is_enabled", :type => "checkbox", :checked => true}
            Create Link as Enabled

        %li
          %label
          %input{:type => "submit", :value => "Create Link"}
