%p#notice= notice

%p
  %b Tenant key:
  = @deployment_proposal.tenant_key
%p
  %b Tenant name:
  = @deployment_proposal.tenant_name
%p
  %b User:
  = @deployment_proposal.user_id
%p
  %b Reg key:
  = @deployment_proposal.reg_key
%p
  %b Reg secret:
  = @deployment_proposal.reg_password
%p
  %b Tc profile url:
  = @deployment_proposal.tc_profile_url
%p
  %b Launch presentation return url:
  = @deployment_proposal.launch_presentation_return_url
%p
  %b Status:
  = @deployment_proposal.status

= link_to 'Edit', edit_deployment_proposal_path(@deployment_proposal)
\|
= link_to 'Back', deployment_proposals_path
