
#deployment
  %h2 
    %img#thumb{:src => "/assets/fabericious.png", :alt => "Fabericious"}
    %br
    Tool Consumer Registration

  = semantic_form_for(@registration) do |f|
    .label-column
      &nbsp;
      
    .form-box
      %ul
        %li
          %label{:class=>"label"} Support email
          = params['support_email']
                
        %li
          %label{:class=>"label"} Product name
          = params['product_name']
        
        %li   
          = f.input :tenant_name, :label => "Institution name", :input_html => { :size => 30 },
                :wrapper_html => {:title => "A human-readable institution name"}     

      %h4 Choose desired tool resources
      .value-column
        %ul
          - @tool_resources.each do |tool_resource|
            %li
              %input{:type => 'checkbox', :name => 'tool_'+tool_resource, :checked => 'true'}  
              = tool_resource
             
      .buttons
        %ul
          %br
          = f.action :submit
