%h1 Listing deployment_proposals

%table
  %tr
    %th Tenant key
    %th Tenant name
    %th User
    %th Reg key
    %th Reg secret
    %th Tc profile url
    %th Launch presentation return url
    %th Status
    %th
    %th
    %th

  - @deployment_proposals.each do |deployment_proposal|
    %tr
      %td= deployment_proposal.tenant_key
      %td= deployment_proposal.tenant_name
      %td= deployment_proposal.user_id
      %td= deployment_proposal.reg_key
      %td= deployment_proposal.reg_password
      %td= deployment_proposal.tc_profile_url
      %td= deployment_proposal.launch_presentation_return_url
      %td= deployment_proposal.status
      %td= link_to 'Show', deployment_proposal
      %td= link_to 'Edit', edit_deployment_proposal_path(deployment_proposal)
      %td= link_to 'Destroy', deployment_proposal, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Deployment proposal', new_deployment_proposal_path
