

= semantic_form_for(@tenant) do |f|   
  = f.input :tenant_key,		:input_html => { :size => 30 } 
  = f.input :verify_tenant_key,   :input_html => { :size => 30 } 
  = f.input :tenant_name,		:input_html => { :size => 30 } 

  = f.action :submit,    :wrapper_html => { :style => "float:left;" }
		

